<li>
	{{burger_name}}

	<button class="change-devoured btn btn-success" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Un Eat!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{id}}">Throw Away!</button>
</li>
